<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid d-flex justify-content-end align-items-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div>
          <a class="nav-link active" aria-current="page" routerLink="about"
            >About</a
          >
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">My Works</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          href="https://twitter.com/furkancak1rr?ref_src=twsrc%5Etfw"
          >Twitter</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link active"
          aria-current="page"
          href="https://www.linkedin.com/in/muhammet-furkan-%C3%A7ak%C4%B1r-b3a64515a/"
          >Linkedin</a
        >
      </li>
      <li class="nav-item align-items-center">
        <a
          class="nav-link active"
          aria-current="page"
          href="https://www.instagram.com/accounts/login/?next=/furkncak1r/"
          >Instagram</a
        >
      </li>
    </ul>
  </div>
</nav>
