<div class="row" style="padding-top: 30px">
  <div class="col-md-5">
    <img
      src="../../../../assets/images/about.png"
      alt="about"
      class="img-fluid"
    />
  </div>
  <div class="col-md-7" style="padding-left: 100px">
    <h1 style="color: rgba(33, 83, 110, 1); font-size: 80px">About.</h1>

    <p style="color: rgba(33, 83, 110, 1); font-size: 30px; padding-top: 40px">
      Hi, My name is Furkan. I love technology and design as long as I can
      remember myself. I graduated from mechatronics engineering and web design
      & coding. I am also studying occupational health and safety. When I'm not
      drinking coffee, I design UI designs and turn them into real working
      websites & apps.
    </p>
  </div>
</div>
<div class="row" style="color: rgba(33, 83, 110, 1); padding-top: 300px">
  <div class="col-md-4" style="text-align: center; align-items: center">
    <h2>Part Designer</h2>
    <div style="font-size: 30px">
      <p>UI design</p>
      <p>UX design</p>
      <p>Design Systems</p>
      <p>Interaction design</p>
      <p>"Making it pop"</p>
    </div>
  </div>
  <div class="col-md-4" style="text-align: center; align-items: center">
    <div class="">
      <img
        src="../../../../assets/images/about.png"
        alt="about"
        class="img-fluid"
      />
    </div>
  </div>
  <div class="col-md-4" style="text-align: center; align-items: center">
    <h2>Part coder</h2>
    <div style="font-size: 30px">
      <p>Front-end development</p>
      <p>HTML / CSS</p>
      <p>JavaScript (kinda)</p>
      <p>Swearing at my computer</p>
      <p>Eating pizza</p>
    </div>
  </div>
</div>
