<div class="row" style="padding-top: 30px">
  <div class="col-md-5">
    <img
      src="../../../../assets/images/about.png"
      alt="about"
      class="img-fluid"
    />
  </div>
  <div class="col-md-7" style="padding-left: 100px">
    <h1 style="color: rgba(33, 83, 110, 1); font-size: 80px">About.</h1>

    <p style="color: rgba(33, 83, 110, 1); font-size: 30px; padding-top: 40px">
      Hi, My name is Furkan. I love technology and design as long as I can
      remember myself. I graduated from mechatronics engineering and web design
      & coding. I am also studying occupational health and safety. When I'm not
      drinking coffee, I design UI designs and turn them into real working
      websites & apps.
    </p>
  </div>
</div>
<div class="row" style="padding-top: 30px">
  <div class="col-md-6">sad</div>
  <div class="col-md-6">sad</div>
</div>
