<app-header></app-header>
<div class="row">
  <div
    class="col-6 d-flex justify-content-center"
    style="display: flex; align-content: center; align-items: center"
  >
    <img
      src="../../../../assets/images/home.png"
      alt="about"
      class="img-fluid"
    />
  </div>
  <div class="col-6 " style="align-content: center; align-items: center;padding-top: 20%;">
    <h1
      class="d-flex justify-content-center"
      style="color: rgba(33, 83, 110, 1); font-size: 5vh; font-weight: 700"
    >
      Furkan Çakır
    </h1>
    <br />

    <p
      class="d-flex justify-content-center"
      style=" display:flex; position:absolute; color :rgba(33, 83, 110, 1); font-size: 2.5vh; padding-top: 4%;"
    >
      A Mechatronics Engineer, Web Desginer & Coder and Writer
    </p>
  </div>
</div>
