<app-header></app-header>
<div class="row">
  <div class="col-md-6">
    <img
      src="../../../../assets/images/home.png"
      alt="about"
      class="img-fluid"
    />
  </div>
  <div class="col-md-6" style="padding-left: 100px">
    <h1
      style="
        color: rgba(33, 83, 110, 1);
        font-size: 80px;
        padding-top: 300px;
        font-weight: 700;
      "
    >
      Furkan Çakır
    </h1>

    <p style="color: rgba(33, 83, 110, 1); font-size: 30px; padding-top: 40px">
      A Mechatronics Engineer, Web Desginer & Coder and Writer
    </p>
  </div>
</div>
